<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user0</key>
	<string>090493</string>
	<key>user1</key>
	<string>654715</string>
	<key>user2</key>
	<string>538994</string>
	<key>user3</key>
	<string>031930</string>
	<key>user4</key>
	<string>477456</string>
	<key>user5</key>
	<string>399942</string>
	<key>user6</key>
	<string>579492</string>
	<key>user7</key>
	<string>252020</string>
	<key>user8</key>
	<string>268840</string>
	<key>user9</key>
	<string>083595</string>
</dict>
</plist>
